@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-medical-50: #f0f9ff;
  --color-medical-100: #e0f2fe;
  --color-medical-200: #bae6fd;
  --color-medical-300: #7dd3fc;
  --color-medical-400: #38bdf8;
  --color-medical-500: #0ea5e9;
  --color-medical-600: #0284c7;
  --color-medical-700: #0369a1;
  --color-medical-800: #075985;
  --color-medical-900: #0c4a6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
